numpy == 1.18.2
scipy == 1.4.1
scikit-learn == 0.22.2.post1
numba == 0.48.0
networkx == 2.4
#atcoderにはないがグラフの可視化用にjupyter,matplotlib,あとojを追加
jupyter
matplotlib
online-judge-tools
streamlit

# 参考ページ
# https://qiita.com/Adaachill/items/3d4ddad56c5c2cc372cd
# http://tatamo.81.la/blog/2018/12/07/atcoder-cli-tutorial/
# https://github.com/online-judge-tools/oj/blob/master/docs/getting-started.ja.md


# DL
# acc new {urlのコンテスト名}

# テスト
# oj t -c "python3 ./a.py" -d ./tests/

# 提出
# acc submit a.py